@page
@model IndexModel
@{
    ViewData["Title"] = "IronPDF - Sample";
}

<div class="text-center">
  <h1 class="display-4">Welcome to IronPdf sample</h1>
  <p>Learn about <a href="https://ironpdf.com/docs/">using IronPdf with ASP.NET Core</a>.</p>
</div>

<div class="text-left">
  <h2>Render PDF by url</h2>
  <p>
    Use the button "Render PDF" to render a PDF document by the specified link to a web page.
  </p>
  <a class="btn btn-lg btn-outline-primary" asp-area="" asp-page="/RenderPdf">Render PDF</a>
</div>