@{
  ViewBag.Title = "IronPdf - Sample";
}


<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="display-4">Welcome to IronPdf sample</h1>
    <p>Learn about <a href="https://ironpdf.com/docs/">using IronPdf with ASP.NET Core</a>.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h2>Render PDF by url</h2>
    <p>
      Use the button "Render PDF" to render a PDF document by the specified link to a web page.
    </p>
    <a class="btn btn-lg btn-primary" href="@Url.Action("Index", "RenderPdf")">Render PDF</a>
  </div>
</div>
